@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Primary */

    --Tomato: hsl(4, 100%, 67%); 

    /* Neutral */

    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);

    /* Typography */
    /* Body Copy */

    --fs16-p: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--Charcoal-Grey);
    min-height: 100vh;
    font-size: var(--fs16-p);
    line-height: 1.8;
    display: grid;
    place-items: center;
}

.container {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .success {
    display: initial;
    padding: 3.5rem;
}