@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Primary */

    --Tomato: hsl(4, 100%, 67%); 

    /* Neutral */

    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);

    /* Typography */
    /* Body Copy */

    --fs16-p: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--Charcoal-Grey);
    min-height: 100vh;
    font-size: var(--fs16-p);
    line-height: 1.8;
    display: grid;
    place-items: center;
}

.container {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container.success {
    display: initial;
    padding: 3.5rem 3.5rem 2rem 3.5rem;
    max-width: 500px;
}

.left {
    color: var(--Dark-Slate-Grey);
    padding: 4rem 2rem 2rem 2rem;
}

.left-info h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.left-info p, ul {
    margin-bottom: 1.5rem;
}

.left-info ul li {
    list-style-image: url(../assets/images/icon-list.svg);
    list-style-position: inside;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.form-item label #invalid-email {
    color: var(--Tomato);
    display: none;
}

.form-item label #invalid-email.active {
    display: block;
}

.form-item input, .form-item button {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.form-item input {
    border: 1px solid var(--Grey);
    outline: none;
}

.form-item input:invalid {
    color: var(--Tomato);
    outline: 1px solid var(--Tomato);
}

.form-item input.active {
    background-color: rgba(255, 98, 87, 0.2);
    outline: 1px solid var(--Tomato);
}

.form-item button {
    background: var(--Dark-Slate-Grey);
    color: var(--White);
    font-weight: 700;
    outline: none;
    border: none;
}

.form-item button:hover, button:focus {
    background: linear-gradient(135deg, #f34079 40%, #fc894d);
    color: var(--White);
}

.right {
    text-align: right;
}

.confirmation-message {
    display: none;
    line-height: 1.2;
}

.confirmation-message.active {
    display: block;
}

.confirmation-message img {
    width: 80px;
}

.confirmation-message h2 {
    font-size: 3rem;
    margin-top: 2rem;
    color: var(--Dark-Slate-Grey);
}

.confirmation-message p {
    margin: 2rem 0;
}

.confirmation-message button {
    cursor: pointer;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
}

.confirmation-message button:hover, button:focus{
    background: linear-gradient(135deg, #f34079 40%, #fc894d);
}

#user-email {
    font-weight: 700;
}

@media (max-width: 768px) {
    body {
        display: initial;
        line-height: 1.4;
    }

    .container {
        width: 100%;
        height: initial;
        padding: 0;
        grid-template-columns: 1fr;
        border-radius: 0;
    }

    .container.success {
        display: block;
        padding: initial;
    }

    .left {
        padding: 1rem 2rem;
        grid-row: 2;
    }

    .left-info ul li {
        margin-bottom: 1rem;
    }

    .right img {
        width: 100%;
    }

    .confirmation-message.active {
        height: 100vh;
        padding: 14rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.8rem;
    }

    .confirmation-message button {
        margin-top: auto;
    }
}